@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.display-flex {
  display: flex;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  background-color: #ff900e;
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 20px 25px;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}

/* header styles */

header {
  min-height: 100vh;
  height: auto;
}

/* navbar styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.brand {
  font-size: 3rem;
  font-weight: bold;
  color: #131313;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  color: #424242;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner styles */

.banner {
  min-height: 100vh;
  height: auto;
}

.banner-content {
  max-width: 850px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.banner-image {
  width: 100%;
  height: auto;
  display: block;
}

/* main part styles */
main {
  max-width: 1440px;
  margin: 0 auto;
}

main > section {
  margin-top: 130px;
}

.teams {
  min-height: 100vh;
  align-items: center;
}

.team-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  margin-left: 130px;
  max-width: 530px;
}

#quick-list {
  font-weight: 500;
  color: #727272;
}

#of-our {
  font-weight: bold;
  color: #131313;
}

#features {
  font-weight: bold;
  color: #ff900e;
}

.feature-description {
  font-size: 1rem;
  color: #727272;
  margin-bottom: 32px;
}

/* feature related style */
#sidebar {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}

.features {
  gap: 140px;
}

.feature-card {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}

.feature-card .feature-title {
  font-size: 600;
  font-size: 1.25rem;
  color: #131313;
}

.feature-card .feature-title-descrip {
  font-size: 1rem;
  color: #727272;
}

#ex-badge {
  padding: 45px 42px;
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;
}

#ex-year {
  font-size: 4rem;
  font-weight: 700;
}

.right-side img {
  width: 100%;
}

/* fact related style */
.facts-description {
  max-width: 540px;
}

.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact-card {
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #ff900e;
  width: 241px;
  height: 241px;
  border-radius: 8px;
}

.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  color: #727272;
}

/* sponsors related style */
.sponsors-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {
  filter: grayscale(100%);
}

footer{
    padding: 130px 240px 216px 240px;
}

.copy-right{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    max-width: 1440px;
    background-color: #FFF4E7;
    /* text-align: center; */
    /* padding: 39px 410px; */
    font-size: 1.25rem;
    color: #424242;
}

@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams,
  .features {
    flex-direction: column;
  }

  .team-image-container,
  .facts-container,
  .sponsor-companies {
    grid-template-columns: 1fr;
  }

  #ex-badge {
    margin-top: 20px;
    margin-left: 33px;
  }
  .facts-container {
    justify-items: center;
    gap: 24px;
  }

  .sponsor-companies {
    justify-items: center;
    gap: 50px;
  }

  .our-features {
    margin-left: 20px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams, .features {
    flex-direction: column;
  }

  #ex-badge {
    margin-top: 20px;
    margin-left: 20px;
  }

  .our-features {
    margin: 50px, auto;
  }

  .sponsor-companies,
  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
  }

  .copy-right{
    text-align: center;
  }
}
